html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

b {
  font-weight: 700;
}

a.no-decoration {
  text-decoration: none;
}

.flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}